# Twitter Scrapper

In [20]:
import pandas as pd
import os
import snscrape.modules.twitter as sntwitter

## For Week 2: With misogyny terms

In [ ]:
os.system("snscrape --jsonl --max-results 1000 twitter-search 'bitch' > bitch-tweets.json")
os.system("snscrape --jsonl --max-results 1000 twitter-search 'misandry' > misandry-tweets.json")
os.system("snscrape --jsonl --max-results 1000 twitter-search 'rape' > rape-tweets.json")
os.system("snscrape --jsonl --max-results 1000 twitter-search 'harassment' > harassment-tweets.json")

In [ ]:
# Reads the json generated from the CLI commands above and creates a pandas dataframe
bitch_tweets_df = pd.read_json('data/bitch-tweets.json', lines=True)
bitch_tweets_df['keyword'] = 'bitch'
misandry_tweets_df = pd.read_json('data/misandry-tweets.json', lines=True)
misandry_tweets_df['keyword'] = 'misandry'
rape_tweets_df = pd.read_json('data/rape-tweets.json', lines=True)
rape_tweets_df['keyword'] = 'rape'
harassment_tweets_df = pd.read_json('data/harassment-tweets.json', lines=True)
harassment_tweets_df['keyword'] = 'harassment'

# Now append them together
tweets_df = bitch_tweets_df.append(misandry_tweets_df, ignore_index=True).append(rape_tweets_df, ignore_index=True).append(harassment_tweets_df, ignore_index=True)

In [ ]:
tweets_df

## For Week 3: From CNN, BBC and Fox news

In [4]:
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:CNN').get_items()): #declare a username 
    if i>1000: #number of tweets you want to scrape
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username]) #declare the attributes to be returned
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Media'])

In [15]:
# Creating list to append tweet data 
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:BBC').get_items()): #declare a username 
    if i>1000: #number of tweets you want to scrape
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username]) #declare the attributes to be returned
    
# Creating a dataframe from the tweets list above 
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Media'])

In [16]:
# Creating list to append tweet data 
tweets_list3 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:FoxNews').get_items()): #declare a username 
    if i>1000: #number of tweets you want to scrape
        break
    tweets_list3.append([tweet.date, tweet.id, tweet.content, tweet.user.username]) #declare the attributes to be returned
    
# Creating a dataframe from the tweets list above 
tweets_df3 = pd.DataFrame(tweets_list3, columns=['Datetime', 'Tweet Id', 'Text', 'Media'])

In [17]:
tweets_df = tweets_df1.append(tweets_df2, ignore_index=True).append(tweets_df3, ignore_index=True)

C:\Users\86188\AppData\Local\Temp\ipykernel_17084\2757352255.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tweets_df = tweets_df1.append(tweets_df2, ignore_index=True).append(tweets_df3, ignore_index=True)

In [18]:
week3_3media_df = tweets_df.to_csv('./data/week3_3media_df.csv')

### For dynamic topic modeling

In [42]:
dates_since = []
for month in range(1,13):
    dates_since.append('2021-{:02d}-04'.format(month))

dates_until = []
for month in range(1,13):
    dates_until.append('2021-{:02d}-10'.format(month))

In [47]:
tweets_list = []
for since, until in zip(dates_since,dates_until):
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:CNN since:{} until:{}'.format(since,until)).get_items()): #declare a username 
        if i > 500:
            break
        tweets_list.append([tweet.date, tweet.content]) #declare the attributes to be returned
    
# Creating a dataframe from the tweets list above 
tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Text'])

ValueError: not enough values to unpack (expected 3, got 2)

In [45]:
tweets_df

,Datetime,Text
0,2021-01-09 23:30:09+00:00,"Brad Rukstales, CEO of Cogensia, a Chicago mar..."
1,2021-01-09 23:14:06+00:00,President Trump is expected to be represented ...
2,2021-01-09 23:00:03+00:00,Republican US Rep. Mary Miller of Illinois iss...
3,2021-01-09 22:45:02+00:00,"News outlets are publishing more videos, photo..."
4,2021-01-09 22:27:03+00:00,"""We must understand well and reflect, learn ho..."
...,...,...
5777,2021-12-04 01:25:15+00:00,Pacific Gas &amp; Electric must pay $125 milli...
5778,2021-12-04 01:11:34+00:00,US special operations forces in northeastern S...
5779,2021-12-04 00:54:16+00:00,A 50-year-old man tried to pass off a silicone...
5780,2021-12-04 00:45:03+00:00,A repeat hate crime offender has been sentence...
5781,2021-12-04 00:35:54+00:00,South Africa's Covid-19 cases have nearly quad...

In [46]:
week3_arch_cnn_df = tweets_df.to_csv('./data/week3_arch_cnn_df.csv')